<h1>Welcome to the Musician page</h1>

<p>Add a musician to the database:</p>

<form action="/musicians" method="post">
  <label for="name">Musician's name:</label>
  <input id="name" name="name" type="text">

  <button type="submit">Add musician</button>
</form>


<% if @musicians.any?() %>
  <p>Click on a musician to see information about them and to assign them to different movie:</p>

  <ul>
    <% @musicians.each do |musician| %>
      <li><a href="/musicians/<%= musician.id() %>"><%= musician.name() %></a></li>
    <% end %>
  </ul>
<% else %>
  <p>There are no musicians added yet!</p>
<% end %>

<p><a href="/movies">See all movies</a></p>

<p><a href="/">Return to Main Page</a></p>
